html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; 
}

.centered-content {
  text-align: center;
  margin-bottom: 20px; 
}

.landing-page img {
  max-width: 100%; 
  
}
